In [6]:
import numpy as np
import pandas as pd

In [8]:
dataset_train = pd.read_csv('E:\\MASABAH\\MS DS 2k21\\Machine Learning\\Assignment1\\TrainingSet.csv')
dataset_test = pd.read_csv('E:\\MASABAH\\MS DS 2k21\\Machine Learning\\Assignment1\\TestSet1.csv')

In [9]:
dataset_train.describe()

       leaf.length  leaf.width  flower.length  flower.width
count   120.000000  120.000000     120.000000    120.000000
mean      5.843333    3.061667       3.731667      1.195833
std       0.795020    0.451549       1.742353      0.758747
min       4.300000    2.000000       1.000000      0.100000
25%       5.175000    2.800000       1.600000      0.300000
50%       5.800000    3.000000       4.250000      1.300000
75%       6.400000    3.400000       5.100000      1.800000
max       7.900000    4.400000       6.900000      2.500000

In [10]:
feature_columns = ['leaf.length','leaf.width','flower.length','flower.width']

X_train = dataset_train[feature_columns].values

y_train = dataset_train['plant'].values

X_test = dataset_test[feature_columns].values

y_test = dataset_test['plant'].values

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#X_train= le.fit_transform(X_train)
#y_train= le.fit_transform(y_train)

#X_test= le.fit_transform(X_test)
y_test= le.fit_transform(y_test)

In [12]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=10)

#Train the model using the training sets
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [13]:

#Predict the response for test dataset  
y_pred = knn.predict(X_test)
dataset_test['plant']=y_pred
dataset_test

    leaf.length  leaf.width  flower.length  flower.width       plant
0           4.4         2.9            1.4           0.2     Arctica
1           4.6         3.1            1.5           0.2     Arctica
2           4.6         3.4            1.4           0.3     Arctica
3           4.7         3.2            1.3           0.2     Arctica
4           4.9         3.0            1.4           0.2     Arctica
5           4.9         3.1            1.5           0.1     Arctica
6           4.9         2.4            3.3           1.0   Harlequin
7           4.9         2.5            4.5           1.7   Harlequin
8           5.0         3.6            1.4           0.2     Arctica
9           5.0         3.4            1.5           0.2     Arctica
10          5.1         3.5            1.4           0.2     Arctica
11          5.2         2.7            3.9           1.4   Harlequin
12          5.4         3.9            1.7           0.4     Arctica
13          5.5         2.3            4.0           1.3   Harlequin
14          5.7         2.8            4.5           1.3   Harlequin
15          5.8         2.7            5.1           1.9  Carolinian
16          6.3         3.3            4.7           1.6   Harlequin
17          6.3         3.3            6.0           2.5  Carolinian
18          6.3         2.9            5.6           1.8  Carolinian
19          6.4         3.2            4.5           1.5   Harlequin
20          6.5         2.8            4.6           1.5   Harlequin
21          6.5         3.0            5.8           2.2  Carolinian
22          6.6         2.9            4.6           1.3   Harlequin
23          6.7         2.5            5.8           1.8  Carolinian
24          6.9         3.1            4.9           1.5  Carolinian
25          7.0         3.2            4.7           1.4   Harlequin
26          7.1         3.0            5.9           2.1  Carolinian
27          7.2         3.6            6.1           2.5  Carolinian
28          7.3         2.9            6.3           1.8  Carolinian
29          7.6         3.0            6.6           2.1  Carolinian

In [14]:
dataset_test.to_csv("E:\MASABAH\MS DS 2k21\Machine Learning\Assignment1\KNN_results.csv")